body {
    background-color: bisque;
    font-style: italic;

}

#wrap {
    border: 5px dashed;
    background-color: white;
    width: 50%;
    margin: auto;
}

h1 {
    border-bottom: 5px dashed;
    text-align: center;
    font-family: cursive;
}



.boldFirst {
    font-weight: bold;
}

ul {
    list-style: none;
    font-family: cursive;
}

li {
    text-align: center;
}

.copyright {
    text-align: center;
}